{% layout "../layouts/default" %}
{% block %}
        <h2>aaaaaaaaaaaaaaaaaaabbbsssssssbbbbbbbbbba</h2>
        <div class="wrapper main-content__container">
            <div class="main-content__text">
                <span class="main-content__subtitle">INFINITY COMICS</span>
                <h1 class="main-content__title">READ THE FIRST ISSUE OF ‘ALLIGATOR LOKI’</h1>
                <buttom class="main-content__button">Text</button>
            </div>
        </div>
{% endblock %}