<nav>
    <div class="nav__container">
        <div class="nav__brand">
            <img class="nav_brand-image img-responsive" src="/images/brand.png" alt="Marvel">
        </div>
        <div class="nav__menu">
            <ul class="nav__menu-list">
                <li class="nav__menu-item">
                    <a href="#" class="nav__menu-link">Novidades</a>
                </li>
                <li class="nav__menu-item">
                    <a href="#" class="nav__menu-link">Mais vendidos</a>
                </li>
                <li class="nav__menu-item">
                    <a href="#" class="nav__menu-link">Queridinhos da galera</a>
                </li>
            </ul>
            <div class="nav__buy-cart">
                <img class="img-responsive" src="/images/cart-icon.png" alt="Carrinho de compras">
                <div class="nav__buy-cartContent">
                    <span class="nav__buy-number">1</span>
                </div>
            </div>
        </div>
    </div>
</nav>